.navbar{
    background-color: maroon;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    
}
.navbar ul{
    display:flex;
    gap:40px;
    list-style: none;
    
    
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
.
    
